extends layout
block content
  if opstatus
    +alert-ix-info(opstatus)
  h1= title
  +panel-primary("Account")
    div.account
      h4 Aktivní účet:
      p #{auth.email}
    +a-btn("/auth") Přihlášení
  +panel-primary("Ordinace")
    form(method='POST' action='/updaterooms')
      ul#rooms(class='roomlist')
        for room in rooms
          div
            label(for='lekari') #{room.name}
            select(name="lekari" style=room.color class=('btn btn-default dropdown-toggle'))
              each dentist in dentists
                  option(value=dentist.id selected=(room.dentist === dentist.id)) #{dentist.name}
      +submit-primary("Ulož přiřazení ordinací")
      +a-btn-warning("/updatelist") Obnov seznam lékařů
