extends layout

block content
  h1= title
  p #{message}, welcome to #{title}
  p #{data.account.mail}
  a(href="/auth")
    button(type=button) re-authenticate

  ul#users
    for dentist in data.dentists
      p #{dentist.name}
      select(name="ordinace")
        each room in data.rooms
          option(value=room selected=(dentist.room === room)) #{room}
  button(type=button) Save